main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

.chart{
  width: 70%;
  height: 50%;
  display: block;
}

.rundetails tr>td:nth-child(1) {
    font-weight: bold;
    cursor: pointer;
    color: #19B5FE;
}

.section{
    margin: 20px auto;
}


