<div class="panel panel-primary">
    <div class="panel-heading">{{gridSettings.gridPanelHeading}}</div>
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let item of gridSettings.columns;">
                    {{item.title}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of gridData; let i= $index">
                <td (click)="runClick(row, i)" *ngFor="let item of gridSettings.columns;">
                    {{row[item.name]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>